*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#f8fafc;
}

/* Navbar */

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:10px 40px;
    background:rgb(27, 30, 36);
}

.logo{
    color:white;
    font-size:24px;
    font-weight:600;
}

nav ul{
    display:flex;
    gap:25px;
    list-style:none;
}

nav ul li{
    margin-left:25px;
}

nav ul li a{
    color:white;
    text-decoration:none;
}

/* Hero */

.hero{
    height:100vh;

    background:
    linear-gradient(
    rgba(0,0,0,0.6),
    rgba(0,0,0,0.6)),
    url("images/hero.jpg");

    background-size:cover;
    background-position:center;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    text-align:center;
    color:white;

    padding:20px;
}

.hero h1{
    margin-bottom:30px;
}

.hero p{
    margin-bottom:30px; /* paragraph-kum buttons-kum gap */
    line-height:1.8;
}

.hero-buttons{
    margin-top:10px; /* buttons konjam keela pogum */
}

/* About Section */

.about{
    padding:100px 10%;
    background:white;
}

.about-content{
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:50px;
}

.about-text{
    flex:1;
}

.about-text h2{
    font-size:40px;
    margin-bottom:20px;
}

.about-text h3{
    font-size:28px;
    margin-bottom:15px;
}

.about-text p{
    line-height:1.8;
    color:#555;
}

.about-btn{
    margin-top:20px;
    padding:12px 25px;
    background:#4f46e5;
    color:white;
    border:none;
    border-radius:30px;
    cursor:pointer;
}

.about-image{
    flex:1;
}

.about-image img{
    width:100%;
    border-radius:10px;
}


/* Services Section */

/* Services Section */

.services{
    padding:50px 20px;
    text-align:center;
}

.services h2{
    font-size:38px;
    color:#0A192F;
    margin-bottom:50px;
}

.service-container{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
    max-width:1400px;
    margin:auto;
}

.service-card{
    background:white;
    padding:25px;
    border-radius:12px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);

    display:flex;
    align-items:center;
    gap:20px;

    transition:0.3s;
}

.service-card:hover{
    transform:translateY(-10px);
}

.service-icon{
    width:70px;
    height:70px;
    min-width:70px;

    background:#eef2ff;
    border-radius:15px;

    display:flex;
    justify-content:center;
    align-items:center;
}

.service-icon i{
    font-size:28px;
    color:#4f46e5;
}

.service-card h3{
    color:#0A192F;
    margin-bottom:10px;
    text-align:left;
}

.service-card p{
    color:#666;
    text-align:left;
    line-height:1.6;
}

.service-btn{

    display:inline-block;

    margin-top:12px;

    padding:7px 16px;

    font-size:13px;

    font-weight:600;

    background:#0A192F;

    color:#fff;

    border-radius:5px;

    text-decoration:none;

    transition:.3s;
}

.service-btn:hover{

    background:#2563eb;

    transform:translateY(-2px);

}

.service-hero{
    background:linear-gradient(135deg,#0A192F,#1e3a8a);
    color:white;
    text-align:center;
    padding:100px 20px;
}

.service-hero h1{
    font-size:48px;
    margin-bottom:20px;
}

.service-hero p{
    font-size:20px;
    max-width:700px;
    margin:auto;
    line-height:1.8;
}
/* Why Choose Us Section */

.why-us{
    padding:30px 20px 100px;
    text-align:center;
    background:#f8f9fa;
}

.why-us h2{
    font-size:38px;
    color:#0A192F;
    margin-bottom:50px;
}

.why-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(200px, 1fr));
    gap:20px;
    max-width:900px;
    margin:auto;
}

.why-box{
    background:white;
    padding:25px;
    border-radius:12px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
    font-size:18px;
    font-weight:500;
    transition:0.3s;
}

.why-box:hover{
    transform:translateY(-8px);
    background:#0A192F;
    color:white;
}

<!-- Projects Section -->

<section id="projects" class="projects">

    <h2>Our Projects</h2>

    <div class="project-container">

        <div class="project-card">
            <h3>E-Commerce Website</h3>
            <p>Online shopping platform.</p>
        </div>

        <div class="project-card">
            <h3>Student Management System</h3>
            <p>Manage student records efficiently.</p>
        </div>

        <div class="project-card">
            <h3>Employee Portal</h3>
            <p>HR and employee management system.</p>
        </div>

    </div>

</section>

/* Projects Section */

.projects{
    padding:100px 20px;
    text-align:center;
    background:white;
}

.projects h2{
    text-align:center;
    font-size:42px;
    margin-bottom:50px;
}

.project-container{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
    gap:25px;
    max-width:1100px;
    margin:auto;
}


.project-card{
    background:white;
    padding:30px;
    border-radius:12px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
    transition:0.3s;

    color:#0A192F; /* dark text */
}

.project-card:hover{
    transform:translateY(-10px);
    background:#f1f5f9;
}

.project-card h3{
    margin-bottom:10px;
}

/* Careers Section */

.careers{
    padding:50px 20px;
    text-align:center;
    background:#f8fafc;
}

.careers h2{
    font-size:55px;
    color:#0A192F;
    margin-bottom:20px;
}

.career-text{
    font-size:22px;
    color:#666;
    margin-bottom:50px;
}

.position-title{
    font-size:30px;
    color:#0A192F;
    margin-bottom:40px;
}

.career-container{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:25px;

    max-width:1200px;
    margin:auto;
}

.career-card{
    background:white;

    padding:30px;

    border-radius:15px;

    box-shadow:0 5px 15px rgba(0,0,0,0.1);

    display:flex;
    align-items:center;
    gap:20px;

    transition:0.3s;
}

.career-card:hover{
    transform:translateY(-10px);
}

.career-icon{
    width:80px;
    height:80px;

    min-width:80px;

    border-radius:50%;

    background:#eef2ff;

    display:flex;
    justify-content:center;
    align-items:center;
}

.career-icon i{
    font-size:35px;
    color:#4f46e5;
}

.career-content h4{
    color:#0A192F;
    margin-bottom:10px;
    text-align:left;
}

.career-content p{
    color:#666;
    line-height:1.6;
    text-align:left;
}

.apply-btn{
    margin-top:50px;

    padding:15px 35px;

    border:none;

    border-radius:10px;

    background:#0A192F;

    color:white;

    font-size:18px;

    cursor:pointer;

    transition:0.3s;
}

.apply-btn:hover{
    background:#1e3a8a;
}

/* Apply Button */

.apply-btn{
    margin-top:25px;
    padding:12px 25px;
    background:#0A192F;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
    transition:0.3s;
}

.apply-btn:hover{
    background:#0A192F;
}

/* Contact Section */

.contact{
    padding:50px 20px;
    text-align:center;
  background:white;
color:#0A192F;
}

.contact h2{
    font-size:38px;
    margin-bottom:30px;
}

.contact form{
    width:50%;
    margin:auto;
    display:flex;
    flex-direction:column;
    gap:15px;
}

.contact input,
.contact textarea{
    padding:12px;
    border:1px solid #ddd;
    border-radius:6px;
    outline:none;
    background:white;
    color:#333;
}

.contact textarea{
    height:120px;
    resize:none;
}

.contact button{
    padding:12px;
    background:#0A192F;
    color:white;
    border:none;
    border-radius:6px;
    cursor:pointer;
    font-weight:bold;
}

#errorMsg{
    color:red;
    margin-top:10px;
}


/* Footer */

.footer{
    background:rgb(27,30,36);
    color:white;
    text-align:center;
    padding:40px 20px;
}

.footer h3{
    margin-bottom:10px;
}


/* =========================
   TABLET VIEW
========================= */

@media (max-width: 992px){

    /* Navbar */
    nav{
        flex-direction:column;
        gap:15px;
    }

    nav ul{
        flex-wrap:wrap;
        justify-content:center;
    }

    /* About Section */
    .about-content{
        flex-direction:column;
        text-align:center;
    }

    /* Services */
    .service-container{
        grid-template-columns:repeat(2,1fr);
    }

    /* Projects */
    .project-container{
        grid-template-columns:repeat(2,1fr);
    }

    /* Careers */
    .career-container{
        grid-template-columns:repeat(2,1fr);
    }

    /* Contact Form */
    .contact form{
        width:80%;
    }
}

/* =========================
   MOBILE VIEW
========================= */

@media (max-width: 768px){

    .hero h1{
        font-size:35px;
    }

    .hero p{
        font-size:16px;
    }

    .hero-buttons{
        display:flex;
        flex-direction:column;
        gap:15px;
    }

    /* Services */
    .service-container{
        grid-template-columns:1fr;
    }

    /* Projects */
    .project-container{
        grid-template-columns:1fr;
    }

    /* Careers */
    .career-container{
        grid-template-columns:1fr;
    }

    /* Why Choose Us */
    .why-grid{
        grid-template-columns:1fr;
    }

    /* Contact */
    .contact form{
        width:95%;
    }

    /* About */
    .about-text h2{
        font-size:32px;
    }

    .services h2,
    .projects h2,
    .careers h2,
    .contact h2{
        font-size:32px;
    }
}
/* ==============================
   SERVICE PAGE
================================ */

.service-hero{
    background:linear-gradient(135deg,#0A192F,#1e3a8a);
    color:white;
    text-align:center;
    padding:100px 20px;
}

.service-hero h1{
    font-size:48px;
    margin-bottom:20px;
}

.service-hero p{
    max-width:750px;
    margin:auto;
    line-height:1.8;
    font-size:20px;
}

/* About */

.service-about{
    padding:35px 20px;
    text-align:center;
}

.service-about h2{
    font-size:36px;
    color:#0A192F;
    margin-bottom:25px;
}

.service-about p{
    max-width:900px;
    margin:auto;
    line-height:1.8;
    color:#555;
}

/* Offer Section */

.offer-section{
    padding:35px 20px;
    background:#f8f9fc;
    text-align:center;
}

.offer-section h2{
    font-size:36px;
    color:#0A192F;
    margin-bottom:25px;
}

.offer-container{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

    gap:25px;

    max-width:1200px;

    margin:auto;

}

.offer-card{

    background:white;

    padding:30px;

    border-radius:12px;

    box-shadow:0 5px 15px rgba(0,0,0,.1);

    transition:.3s;

}

.offer-card:hover{

    transform:translateY(-10px);

}

.offer-card h3{

    color:#0A192F;

    margin-bottom:15px;

}

/* Technologies */

.tech-section{
    padding:35px 20px;
    text-align:center;
}

.tech-section h2{
    font-size:36px;
    color:#0A192F;
    margin-bottom:20px;
}

.tech-grid{

    display:flex;

    justify-content:center;

    flex-wrap:wrap;

    gap:20px;

}

.tech-grid span{

    background:#0A192F;

    color:white;

    padding:15px 25px;

    border-radius:30px;

    font-weight:600;

}

/* Process */

.process-section{
    padding:35px 20px;
    background:#f8f9fc;
    text-align:center;
}

.process-section h2{
    font-size:36px;
    color:#0A192F;
    margin-bottom:20px;
}

.process-container{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(150px,1fr));

    gap:25px;

    max-width:1200px;

    margin:auto;

}

.process-card{

    background:white;

    padding:30px;

    border-radius:12px;

    box-shadow:0 5px 15px rgba(0,0,0,.1);

}

.process-card h3{

    width:60px;

    height:60px;

    margin:auto;

    border-radius:50%;

    background:#0A192F;

    color:white;

    display:flex;

    justify-content:center;

    align-items:center;

    margin-bottom:20px;

}

/* Back Button */

.back-home{

    padding:25px 20px 40px;

    text-align:center;

}

.service-btn{

    display:inline-block;

    padding:12px 30px;

    background:#0A192F;

    color:white;

    text-decoration:none;

    border-radius:8px;

    transition:.3s;

}

.service-btn:hover{

    background:#1e3a8a;

}