<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Login | RoshTech Solutions</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

</head>

<body>

<section class="login-section">

<div class="login-box">

<h1>Welcome Back</h1>

<p>Login to continue.</p>

<form action="/login" method="POST">

    <input
    type="text"
    name="username"
    placeholder="Username"
    required>

    <input
    type="password"
    name="password"
    placeholder="Password"
    required>

    <button type="submit">
        Login
    </button>

</form>

<p class="bottom-text">

Don't have an account?

<a href="/register">
    Register
</a>

</p>

</div>

</section>

</body>

</html>